<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Radio-T</title>
    <style>
        .table {
            width:100%; 
            word-break: break-all; 
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Radio-T</p>
        </footer>
    </div>

</body>
</html>
