@{
    ViewData["Title"] = "Debug";
}

<h2>Debug</h2>

<p>@Html.ActionLink("DebugLog", "DebugLog")</p>
<p>@Html.ActionLink("ExceptionLog", "ExceptionLog")</p>
<p>@Html.ActionLink("RequestLog", "RequestLog")</p>